button {
  transition: all 0.2s ease;
  background: #f8b259;
  border: none;
  color: #f3e9dc;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

button:hover {
  transform: scale(1.05);
  background: #f3e9dc;
  color: #D96F32;
}

button:active {
  transform: scale(0.97) translateY(3px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
